.safkabadge {
    background: #4d8400;
    display: inline-block;
    min-width: 22px;
    height: 21px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-indent: 0;
    border: 0;
    padding: 0.3em 0.7em 0.2em;
    position: relative;
    vertical-align: middle;
    border-radius: 15px;
    color: white;
}
.laatta {
    width: 19.6%; 
    height: 44px; 
    left: 40.2%; 
    top: 180px; 
    background-color: rgb(166, 202, 240); 
    border-color: rgb(136, 172, 210);
}
p.teksti {
    font-size: 14px; 
    top: 6px;
}
.sera {
    width: 19.6%;
    height: 44px;
    top: 225px;
    background-color: rgb(124, 223, 124);
    border-color: black
}